html {
  font: 1em/1.5;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}